<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/src/css/Login.css">
    <link rel="manifest" href="/src/js/manifest.json" />

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
</head>
<body>
    <div class="content">
        <div class="header-content">
            <a href="login.html">
                <div class="insighter-logo">
                    <img src="/src/assets/logo.png" alt="insighter-logo">
                </div>
            </a>
        </div>

        <div class="labels">
            <form id="form">
                <input class="input-usuario" type="email" id="femail" name="fname" placeholder="Usuário" >
                
                <input class="input-senha" type="password" id="lsenha" name="lname" placeholder="Senha">
                <div class="buttons_entrar">
                    <button type="submit">Entrar</button>
                </div>
            </form>
            <div class="labels-esqueci">
                <a href="recuperar_senha.html">Esqueci minha senha</a>
            </div>
        </div>

        <div class="buttons">
            <!-- <div class="buttons_entrar">
                <a href="home.html"><button type="submit">Entrar</button></a>
            </div> -->

            <span class="buttons_ou">
                <p>OU</p>
            </span>
            <div class="buttons_cadastre-se">
                <a href="Signin.Html"><button type="submit">Cadastre-se</button></a>
            </div>
        </div>
    </div>

    <script>
        var form = document.getElementById("form");
  
        form.addEventListener("submit", function (event) {
          event.preventDefault();
          var email = document.getElementById("femail").value;
          var senha = document.getElementById("lsenha").value;
  
          let _data = {
            email: email,
            senha: senha,
          };

          fetch(
            "https://api-insighter-postgresql-rkym.vercel.app/loginindustria",
            {
              method: "POST",
              body: JSON.stringify(_data),
              headers: {
                "Content-type": "application/json; charset=UTF-8",
              },
            }
          )
            .then((response) => response.json())
            .then((data) => {
              console.log("Success:", data);
              localStorage.setItem('token', data.token);
              window.location.href = "./home.html";
            })
            .catch((error) => {
              console.error("Error:", error);
            });
        });
      </script>
</body>
</html>